* {
  box-sizing: border-box;
}

body {
  /* background: red; */
  /* color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: column;
  background: #FFFFFF;
  font-family: 'Seymour One', sans-serif;
}

.body-inverse {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: column;
  background: black;
  font-family: 'Seymour One', sans-serif;
  color: white;
}

.grid {
  /* background: white; */
  display: flex;
  max-height: 600px;
  min-height: 600px;
  max-width: 600px;
  min-width: 600px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  font-size: 30%;
}

.grid div {
  /* border: 1px white solid; */
  flex-grow: 1;
  height: 5%;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.wall {
  border: 1px white solid;
  background: black;

}

.wall-inverse {
  border: 1px black solid;
  background: white;
}

/* .inner {
  /* height: 100%; */
/* } */

.pip {
  /* border: 2px grey solid; */
  background: gold;
  /* background: grey; */
  height: 50%;
  width: 50%;
  border-radius: 100%;
}

.power {
  height: 75%;
  width: 75%;
  border-radius: 100%;
  background: orange;
}

.grid div.player {
  background-image: url(../assets/pacman.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}


.rotate-right {
  transform: rotate(0deg)
}
.rotate-down {
  transform: rotate(90deg)
}
.rotate-left {
  transform: rotate(180deg)
}
.rotate-up {
  transform: rotate(270deg)
}



.stage-one {
  align-self: flex-end;
}

.score{
  align-self: flex-end;
}

.ghost-one {
  background: pink;
}
.ghost-two {
  background: aquamarine;
}
.ghost-three {
  background: lightskyblue;
}
.ghost-four {
  background: lightgreen;
}

.ghost-banned {
  color: red;
}

.start-screen {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.start-screen > h1 {
  font-size: 500%;
}

.game-over {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* height: 150%;
  width: 150%; */
}

.game-over > h1 {
  font-size: 450%;
}

.hidden {
  display: none;
}

.ghost-scared {
  background: blue;
}