* {
  box-sizing: border-box;
}

body {
  /* background: red; */
  /* color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: column;
}

.grid {
  /* background: white; */
  display: flex;
  max-height: 600px;
  min-height: 600px;
  max-width: 600px;
  min-width: 600px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
}

.grid div {
  border: 1px black solid;
  flex-grow: 1;
  height: 5%;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  /* height: 100%; */
}

.pip {
  background: gold;
  height: 50%;
  width: 50%;
  border-radius: 100%;

}

.grid div.player {
  background-image: url(../assets/pacman.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}


.rotate-right {
  transform: rotate(0deg)
}
.rotate-down {
  transform: rotate(90deg)
}
.rotate-left {
  transform: rotate(180deg)
}
.rotate-up {
  transform: rotate(270deg)
}

.wall {
  background: orange;
  color: orange;
  border: orange;
}

.score{
  align-self: flex-end
}

.ghost {
  background: pink;
}