* {
  box-sizing: border-box;
}

body {
  /* background: red; */
  /* color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: column;
  background: #FFFFFF;
  font-family: 'Seymour One', sans-serif;
}

.body-inverse {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: column;
  background: black;
  font-family: 'Seymour One', sans-serif;
  color: white;
}

.grid {
  /* background: white; */
  display: flex;
  max-height: 600px;
  min-height: 600px;
  max-width: 600px;
  min-width: 600px;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); */
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  font-size: 30%;
  /* transition: transform 3s linear;
  transform: rotate(360deg) */
  
}

.grid div {
  /* border: 1px white solid; */
  flex-grow: 1;
  height: 5%;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.wall {
  border: 1px white solid;
  background: black;

}

.wall-inverse {
  border: 1px black solid;
  background: white;
}

/* .inner {
  /* height: 100%; */
/* } */

.pip {
  background: gold;
  /* height: 50%;
  width: 50%; */
  height: 25%;
  width: 25%;
  border-radius: 100%;
  z-index: -1;
}

.power {
  height: 75%;
  width: 75%;
  border-radius: 100%;
  background: orange;
}

.grid div.player {
  /* background-image: url(../assets/pacman.png); */
  background-image: url(https://media.giphy.com/media/Es7BExB12lfDW/giphy.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}


.rotate-right {
  transform: rotate(0deg)
}
.rotate-down {
  transform: rotate(90deg)
}
.rotate-left {
  transform: rotate(180deg)
}
.rotate-up {
  transform: rotate(270deg)
}

.stage-one {
  align-self: flex-end;
}
.stage-two {
  align-self: flex-end;
}

.score{
  align-self: flex-end;
}

.ghost-one {
  /* background: pink; */
  background-image: url(https://media.giphy.com/media/RAGUpYLsOX2Pm/giphy.gif);
  background-size: contain;
  background-repeat: no-repeat;
}
.ghost-two {
  /* background: aquamarine; */
  background-image: url(https://media.giphy.com/media/cq8qwbRUWruRG/giphy.gif);
  background-size: contain;
  background-repeat: no-repeat;
  
}
.ghost-three {
  /* background: lightgreen; */
  background-image: url(https://media.giphy.com/media/cq8qwbRUWruRG/giphy.gif);
  background-size: contain;
  background-repeat: no-repeat;
}
.ghost-four {
  /* background: lightskyblue; */
  background-image: url(https://media.giphy.com/media/NctG5rLeF1Fm0/giphy.gif);
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost-banned {
  color: red;
}

.start-screen {
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.start-screen > h1 {
  font-size: 500%;
  animation: rotate-pulse  4s linear infinite;
}

.start-screen > p {
  animation-iteration-count: infinite;
}

.countdown {
  display: block;
  position: absolute;
  float: left;
  margin: auto;
  font-size: 600%;
  /* color: rgba(214, 139, 69, 0.8); */
  /* color: rgb(241, 173, 45); */
  color: black;
  z-index: 1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* .behind {
  color: black;
  font-size: 700%;
} */

.stage-one-complete {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.stage-one-complete > h1 {
  font-size: 450%;
  animation: pulse-stage-one-complete 3s linear infinite;
}
.stage-one-complete > p {
  animation-iteration-count: infinite;
}


.game-over {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* height: 150%;
  width: 150%; */
}
.game-over > p {
  animation-iteration-count: infinite;
}

.game-over > h1 {
  font-size: 450%;
  animation: pulsing 4s linear infinite;
}
/* .game-over > h4 {
  animation: pulse 4s linear infinite;
} */

.win {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* height: 150%;
  width: 150%; */
}
.win > h1 {
  font-size: 450%;
  animation: pulsing 4s linear infinite;
}

.hidden {
  display: none;
}

.ghost-scared {
  /* background: blue; */
  background-image: url(../assets/blue-ghost.gif);
  background-size: contain;
  background-repeat: no-repeat;
}

.rotate360 {
  animation: rotate360 5s linear infinite;
  animation-iteration-count: infinite;
}

.intro-animation-duration {
  animation-delay: 1s;
  animation-duration: 5s;
}

@keyframes rotate-pulse {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
    font-size: 300%;
  }
  50% {
    transform: rotate(0deg);
    font-size: 600%;
  }
  75% {
    transform: rotate(-20deg);
    font-size: 300%;
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes pulsing {
  0% {
    font-size: 300%;
  }
  50% {
    font-size: 600%;
  }
  100% {
    font-size: 300%;
  }
}
@keyframes pulse-stage-one-complete {
  0% {
    font-size: 300%;
  }
  50% {
    font-size: 500%;
  }
  100% {
    font-size: 300%;
  }
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
